body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

#menu, #end-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
}


.floating-image {
    position: absolute; /* Для анимации движения */
    /*width: 80px; /* Размер изображения */
    animation: float 5s infinite ease-in-out; /* Анимация */
    width: 12vw; /* Ширина фигуры составляет 10% от ширины экрана */
    height: auto;
}


@media (max-width: 700px) {
    .floating-image {
        width: 20vw;
    }
}

/* Анимация для плавающих изображений //ИЗМЕНЕНИЕ */
@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(10px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

/* Размещение изображений в разных позициях //ИЗМЕНЕНИЕ */
.floating-image:nth-child(1) {
    top: 20px;
    left: 50px;
    animation-delay: 0s; /* Задержка анимации */
}

.floating-image:nth-child(2) {
    top: 100px;
    left: 150px;
    animation-delay: 1s; /* Задержка анимации */
}

.floating-image:nth-child(3) {
    top: 50px;
    left: 250px;
    animation-delay: 2s; /* Задержка анимации */
}

@font-face {
    font-family: 'Audiowide';
    src: url('../../public/assets/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



#menu h1, #end-screen h1 {
    margin-bottom: 20px;
    font-family: "Audiowide", sans-serif;
}
#level-buttons {
    display: flex;
    gap: 10px;

}
#level-buttons {
    display: flex;
    gap: 10px;
}

.level-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Audiowide", sans-serif;
    overflow: hidden;
}
.level-button .level-text {
    position: relative;
    z-index: 1;
    transition: opacity 0.3s;
}

.level-button .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.3s;
    z-index: 2;
}

.level-button:hover .hover-text {
    opacity: 1;
}

.level-button:hover .level-text {
    opacity: 0;
}

@media (max-width: 700px) {
    #level-buttons {
        display: flex;
        flex-direction: column; /* Расположение кнопок в колонку */
        gap: 15px; /* Отступы между кнопками */
        align-items: center; /* Центрирование кнопок */
    }

    .level-button {
        /*width: 80%; /* Уменьшаем ширину кнопок на мобильных устройствах */
        text-align: center; /* Центрирование текста */
    }
}

#play-again-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Audiowide", sans-serif;
}

#level-button:hover, #play-again-button:hover,#continue-button:hover {

    background-color: #3700b3;
    transform: scale(1.05);
}

#game-container {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#game-canvas {
    width: 100%;
    height: 100%;
    display: block;
}


#end-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black ;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 300;
    font-family: "Audiowide", sans-serif;
}


#end-screen.active {
    display: flex;
}

#end-screen h1, #end-screen p {
    color: white;
    text-align: center;
    margin: 10px 0;
}

#play-again-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Audiowide", sans-serif;
}

#play-again-button:hover,#pause-button:hover,#next-level-button:hover,#start-level-button:hover,#back-to-menu-button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
}

#game-timer { /*ИЗМЕНЕНИЕ*/
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;

    z-index: 100;
    font-family: "Audiowide", sans-serif;
}



#pause-button { /*ИЗМЕНЕНИЕ*/
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 200;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Audiowide", sans-serif;
}

#pause-menu,#level-menu{ /*ИЗМЕНЕНИЕ*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 300;
}

#level-menu {
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

#level-message {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#level-message img{
    width: 10vw;
    max-width: 100px;
    height: auto;
    display: inline-block;
}


@media (max-height: 450px) and (orientation: landscape) {
    #level-message img{

        max-width: 60px;
    }
    #level-message p{
        margin: 10px 0;
    }
}

@media (max-height: 300px) and (orientation: landscape) {
    #level-message img{

        max-width: 40px;
    }
    #level-message p{
        margin: 5px 0;

    }
    #level-message{
        font-size: 15px;
    }

}


#continue-icon { /*ИЗМЕНЕНИЕ*/
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: block;
}


#continue-button,#next-level-button,#start-level-button,#back-to-menu-button { /*ИЗМЕНЕНИЕ*/
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Audiowide", sans-serif;
}

@media (max-height: 500px) and (orientation: landscape) {
    #end-screen {
        padding: 10px;
    }

    #end-screen img {
        width: 40%;!important;
        max-width: 120px;!important;
    }

    #end-message {
        font-size: 20px;
    }

    #game-time {
        font-size: 14px;
    }

    #play-again-button,#next-level-button,#back-to-menu-button{
        font-size: 14px;
        padding: 8px 16px;
    }
}
#timer-bar-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 0, 0.2); /* Полупрозрачный фон */
}

#timer-bar {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.8); /* Желтая полоса */
    transition: width 0.1s linear; /* Плавное изменение ширины */
}

