body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

#menu, #end-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
}

#menu h1, #end-screen h1 {
    margin-bottom: 20px;
}

#start-button, #play-again-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#start-button:hover, #play-again-button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
}

#game-container {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#game-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
#end-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}